.jumbotron{
    background-color: rgba(214, 211, 45, 0.699);
}

.btn {
    background-color:  rgba(240, 86, 145, 0.699);
    margin-top: 10px;
}

.card-service {
    flex: 1 150px;
    margin-top: auto;
}
.tab-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-responsive {
    padding-top: 10px;
}