.jumbotron{
    background-color: rgba(214, 211, 45, 0.699);
}

.btn {

    margin-top: 10px;
}

.card-service {
    flex: 1 100px;
}
.tab-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-responsive {
    padding-top: 10px;
}

