
$yellow: #d1cf3a;


.jumbotron{
    background-color: $yellow;
    color:black
}
.breadcrumb {
    margin-top: 20px;
}
.btn {

    margin-top: 10px;
}

.card-service {
    flex: 1 100px;
}
.tab-content {
   margin-top: 10px;
}

.table-responsive {
    margin-top: 10px;
}